wheel
multiprocess
matplotlib
requests
scipy
accelerate
argparse
datasets
evaluate
numpy
seqeval
scikit-learn
torch
tqdm
tokenizers
transformers
sentencepiece
LAC
py7zr
conllu
timm
spacy
ftfy
yacs
importlib_metadata
# apache_beam
# timm
huggingface_hub
sentence-transformers
