numpy==1.18.5
tokenizers==0.10.1
matplotlib
requests
scipy
wheel
accelerate
argparse
datasets
seqeval
scikit-learn
torch
tqdm
transformers
typing
paddlenlp
paddlepaddle-gpu
soundfile
librosa
jiwer
torchaudio
paddlehub
pypinyin
LAC
sox
pyworld
sentencepiece
adapter-transformers
pandas
py7zr
conllu
apache_beam
timm
spacy
ftfy
yacs
importlib_metadata
apache_beam
timm
huggingface_hub
