multiprocess==0.70.8
matplotlib
requests
scipy
wheel
accelerate
argparse
datasets
numpy
seqeval
sklearn
torch
tqdm
tokenizers
transformers
typing
paddlenlp
paddlepaddle-gpu
soundfile
librosa
jiwer
sentencepiece
torchaudio
paddlehub
pypinyin
LAC
py7zr
conllu
timm
spacy
ftfy
yacs
importlib_metadata
apache_beam
timm
huggingface_hub
